<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this page -->
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- dropZone css-->
    <link href="../../static/css/dropzone.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <script>
        $(document).ready(function() {
            $("#sumit").click(function() {
                $("#btnLogin").click(function() {
                    let password_current = $("#password_current").val();
                    let password_new = $("#password_new").val();
                    let password_confirm = $("#password_confirm").val();

                    $.ajax({
                        type: "POST",
                        url: "/login",
                        data: {
                            password_current: password_current,
                            password_new: password_new,
                            password_confirm: password_confirm
                        }
                    }).done(function(data, state, xhr) {
                        alert(data);
                    }).fail(function(xhr, state) {
                        alert("changepassword  Fail");
                        // $(".alert").show().fadeOut(3000);
                    });
                });
            });
        });
    </script>

    <body id="change-password">
        <!-- Container -->
        <div id="container">
            <div id="container-inner">
                <h1>Change Password</h1>
                <form action="#" method="get">
                    <fieldset>
                        <!-- Your current password -->
                        <div>
                            <label for="password_current">Your current password</label>
                            <input type="text" name="password_current" id="password_current" />
                        </div>

                        <!-- Your new password -->
                        <div>
                            <label for="password_new">Your new password</label>
                            <input type="text" name="password_new" id="password_new" />
                        </div>

                        <!-- Confirm password -->
                        <div>
                            <label for="password_confirm">Confirm password</label>
                            <input type="text" name="password_confirm" id="password_confirm" />
                        </div>

                        <!-- Controls -->
                        <div class="controls">
                            <input id="submit" name="submit" type="submit" value="Save Password" />
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
        <!-- /Container -->

    </body>